<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:util='http://schemas.microsoft.com/wix/UtilExtension'
   xmlns:http='http://schemas.microsoft.com/wix/HttpExtension'>
  <Fragment>
    <DirectoryRef Id="APPROOT">
      <Component Id="EventSource" Guid="6bcb1e30cf334b8eb87d95afc68b65a2" >
        <Util:EventSource xmlns:Util="http://schemas.microsoft.com/wix/UtilExtension"
                    Name="miisautomation" Log="Application" EventMessageFile="[NETFRAMEWORK45FULLINSTALLROOTDIR64]EventLogMessages.dll" KeyPath="yes"/>
      </Component>

      <Component Id="cmpb05fc8933594449d9aad05ca620a4331" Guid="*">
        <File Id="filda5afc97726743f09a85d512593be8c8" KeyPath="yes" Source="$(var.Lithnet.Miiserver.AutoSync.TargetDir)\Lithnet.Miiserver.AutoSync.exe" />
        <ServiceInstall Id="AcmaServiceInstall"
                        DisplayName="Lithnet MIIS AutoSync"
                        Account="[SERVICE_USERNAME]"
                        Password="[SERVICE_PASSWORD]"
                        Name="[SERVICE_NAME]"
                        ErrorControl="normal"
                        Start="auto"
                        Arguments="/service"
                        Type="ownProcess"
                        Description="Automatically operates the the FIM/MIM synchronization service"
                        Vital="yes"
                        Interactive="no">
        </ServiceInstall>
        <ServiceControl Id="ServiceControlEvents" Name="[SERVICE_NAME]" Start="install" Stop="both" Remove="uninstall" Wait="yes"/>
        <util:User Id="ServiceUser" Name="[SERVICE_USERNAME]" Password="[SERVICE_PASSWORD]" CreateUser="no" LogonAsService="yes" UpdateIfExists="yes" />
        <CreateFolder Directory="APPLOGS">
          <util:PermissionEx User="[SERVICE_USERNAME]" GenericAll="yes" />
        </CreateFolder>
      </Component>

      <Component Id="cmpb79b2c604b1748aa9606e987e86aad3a" Guid="*">
        <File Id="fil2fbf1906386e4df0a0fb6a5aa8c86dc7" KeyPath="yes" Source="$(var.Lithnet.Miiserver.AutoSync.TargetDir)\Lithnet.Miiserver.AutoSync.exe.config" />
      </Component>
      <Component Id="cmp9dd8add400f84984af1aae73a3e33027" Guid="*">
        <File Id="fildc56e03c4167405b9970142148d2c84b" KeyPath="yes" Source="$(var.Lithnet.Miiserver.AutoSync.TargetDir)\Lithnet.Miiserver.Client.dll" />
      </Component>
      <Component Id="cmpb64af8d3558e474cb4abafb6a86c4c95" Guid="*">
        <File Id="fil9fbbd15a54394a42b971da7c81b974a9" KeyPath="yes" Source="$(var.Lithnet.Miiserver.AutoSync.TargetDir)\Lithnet.Logging.dll" />
      </Component>
      <Component Id="cmp4f1b2f80467447c7a19d67ba7526a520" Guid="*">
        <File Id="fil68b8bfb54b9f42919bb796335be9afac" KeyPath="yes" Source="$(var.Lithnet.Miiserver.AutoSync.TargetDir)\Lithnet.ResourceManagement.Client.dll" />
      </Component>
    </DirectoryRef>
  </Fragment>
</Wix>