<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:util='http://schemas.microsoft.com/wix/UtilExtension'
   xmlns:http='http://schemas.microsoft.com/wix/HttpExtension'>
  <Fragment>
    <DirectoryRef Id="APPROOTDIR">
      <Component Id="EventSource" Guid="*" Win64="yes" >
        <Util:EventSource xmlns:Util="http://schemas.microsoft.com/wix/UtilExtension"
                    Name="miis-autosync" Log="Application" EventMessageFile="[NETFRAMEWORK45FULLINSTALLROOTDIR64]EventLogMessages.dll" KeyPath="yes"/>
      </Component>

      <Component Id="cmpb05fc8933594449d9aad05ca620a4331" Guid="*" Win64="yes">
        <File Id="filda5afc97726743f09a85d512593be8c8" KeyPath="yes" Source="$(var.Lithnet.Miiserver.AutoSync.TargetDir)\Lithnet.Miiserver.AutoSync.exe" />
        <ServiceInstall Id="autosync"
                        DisplayName="Lithnet MIIS AutoSync"
                        Account="[SERVICE_USERNAME]"
                        Password="[SERVICE_PASSWORD]"
                        Name="[SERVICE_NAME]"
                        ErrorControl="normal"
                        Start="auto"
                        Arguments="/service"
                        Type="ownProcess"
                        Description="Automatically operates the FIM/MIM synchronization service"
                        Vital="yes"
                        Interactive="no">
        </ServiceInstall>
        <ServiceControl Id="ServiceControlEvents" Name="[SERVICE_NAME]" Stop="both" Remove="uninstall" Wait="yes"/>
        <util:User Id="ServiceUser" Name="[SERVICE_USERNAME]" Password="[SERVICE_PASSWORD]" CreateUser="no" LogonAsService="yes" UpdateIfExists="yes" />
        <CreateFolder Directory="APPLOGDIR">
          <util:PermissionEx User="[SERVICE_USERNAME]" GenericAll="yes" />
        </CreateFolder>

        <CreateFolder Directory="CONFIGDIR">
          <util:PermissionEx User="[SERVICE_USERNAME]" GenericAll="yes" />
        </CreateFolder>

        <CreateFolder Directory="RUNHISTORYDIR">
          <util:PermissionEx User="[SERVICE_USERNAME]" GenericAll="yes" />
        </CreateFolder>

        <RegistryValue Root="HKLM" Key="Software\Lithnet\MiisAutoSync" Name="ConfigPath" Type="string" Value="[CONFIGDIR]" />
        <RegistryValue Root="HKLM" Key="Software\Lithnet\MiisAutoSync" Name="LogPath" Type="string" Value="[APPLOGDIR]" />
        <RegistryValue Root="HKLM" Key="Software\Lithnet\MiisAutoSync" Name="RunHistoryPath" Type="string" Value="[RUNHISTORYDIR]" />
        <RegistryValue Root="HKLM" Key="Software\Lithnet\MiisAutoSync" Name="RunHistoryAge" Type="string" Value="[RUNHISTORYDAYS]" />
        <RegistryValue Root="HKLM" Key="Software\Lithnet\MiisAutoSync" Name="RunHistorySave" Type="string" Value="[SAVERUNHISTORY]" />
        <RegistryValue Root="HKLM" Key="Software\Lithnet\MiisAutoSync" Name="MailEnabled" Type="string" Value="[EMAIL_ENABLE]" />
        <RegistryValue Root="HKLM" Key="Software\Lithnet\MiisAutoSync" Name="MailTo" Type="string" Value="[MAIL_TO]" />
        <RegistryValue Root="HKLM" Key="Software\Lithnet\MiisAutoSync" Name="MailFrom" Type="string" Value="[MAIL_FROM]" />
        <RegistryValue Root="HKLM" Key="Software\Lithnet\MiisAutoSync" Name="MailServer" Type="string" Value="[MAIL_SERVER]" />
        <RegistryValue Root="HKLM" Key="Software\Lithnet\MiisAutoSync" Name="MailServerPort" Type="string" Value="[MAIL_SERVER_PORT]" />
      </Component>

      <Component Id="cmpb79b2c604b1748aa9606e987e86aad3a" Guid="*" NeverOverwrite="yes" Win64="yes">
        <File Id="App.config" KeyPath="yes" Source="$(var.Lithnet.Miiserver.AutoSync.TargetDir)Lithnet.Miiserver.AutoSync.exe.config" />
      </Component>

    </DirectoryRef>

    <DirectoryRef Id="EXAMPLESDIR">
      <Component Id="cmp93a419ae5b964e959aabd53f864b56be" Guid="*" Win64="yes">
        <File Id="fil609af776b4a447ceb346ae795fc0ec18" KeyPath="yes" Source="$(var.Lithnet.Miiserver.AutoSync.TargetDir)Examples\Config-ACMA.ps1" />
      </Component>
      <Component Id="cmpa5bba24f5e21416285e99f20f545a824" Guid="*" Win64="yes">
        <File Id="fil38f1503471f2447f8dafcd16c011922f" KeyPath="yes" Source="$(var.Lithnet.Miiserver.AutoSync.TargetDir)Examples\Config-ADMA.ps1" />
      </Component>
      <Component Id="cmp9dd1e29218a449c986cd9bc051352eb0" Guid="*" Win64="yes">
        <File Id="fildf31df98d2494fda8671bee4394fb457" KeyPath="yes" Source="$(var.Lithnet.Miiserver.AutoSync.TargetDir)Examples\Trigger-ACMA-CheckPendingImports.ps1" />
      </Component>
      <Component Id="cmp07273887e0564fbb9656af18b9d08aff" Guid="*" Win64="yes">
        <File Id="fil5786c4463780477787c20d0a22ce2638" KeyPath="yes" Source="$(var.Lithnet.Miiserver.AutoSync.TargetDir)Examples\Trigger-ACMA-NightlyFI.ps1" />
      </Component>
      <Component Id="cmp7019fe445dcb4e44b69f13a1ebf8cdd6" Guid="*" Win64="yes">
        <File Id="fil0198757e9cb34c11bcc3ad16b857c78b" KeyPath="yes" Source="$(var.Lithnet.Miiserver.AutoSync.TargetDir)Examples\Trigger-ACMA-WeeklyFS.ps1" />
      </Component>
      <Component Id="cmp532534fc471f40b4af0421bb84ac9f8f" Guid="*" Win64="yes">
        <File Id="fil8646fbb6a2964a7c8edb94b551a0a70d" KeyPath="yes" Source="$(var.Lithnet.Miiserver.AutoSync.TargetDir)Examples\Trigger-ADMA-DeltaImportEvery5Minutes.ps1" />
      </Component>
      <Component Id="cmp075b47251b67418d80ae8418bf820b6f" Guid="*" Win64="yes">
        <File Id="filc067392ac3b344b1ad07d05175c623de" KeyPath="yes" Source="$(var.Lithnet.Miiserver.AutoSync.TargetDir)Examples\Trigger-LdapMA-PersistentSearch.ps1" />
      </Component>
    </DirectoryRef>

    <ComponentGroup Id="Examples">
      <ComponentRef Id="cmp93a419ae5b964e959aabd53f864b56be"/>
      <ComponentRef Id="cmpa5bba24f5e21416285e99f20f545a824"/>
      <ComponentRef Id="cmp9dd1e29218a449c986cd9bc051352eb0"/>
      <ComponentRef Id="cmp07273887e0564fbb9656af18b9d08aff"/>
      <ComponentRef Id="cmp7019fe445dcb4e44b69f13a1ebf8cdd6"/>
      <ComponentRef Id="cmp532534fc471f40b4af0421bb84ac9f8f"/>
      <ComponentRef Id="cmp075b47251b67418d80ae8418bf820b6f"/>
    </ComponentGroup>
    <ComponentGroup Id="Binaries">
      <ComponentRef Id="EventSource"/>
      <ComponentRef Id="cmpb05fc8933594449d9aad05ca620a4331"/>
      <ComponentRef Id="cmpb79b2c604b1748aa9606e987e86aad3a"/>
    </ComponentGroup>
  </Fragment>
</Wix>