<?xml version="1.0"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <UI>
      <Dialog Id="ConfigPathDialog" Width="370" Height="270" Title="Configuration Path">
       
        <Control Id="Next" Type="PushButton" X="236" Y="243" Width="56" Height="17" Default="yes" Text="!(loc.WixUINext)" />
        <Control Id="Back" Type="PushButton" X="180" Y="243" Width="56" Height="17" Text="!(loc.WixUIBack)" />
        <Control Id="Cancel" Type="PushButton" X="304" Y="243" Width="56" Height="17" Cancel="yes" Text="!(loc.WixUICancel)">
          <Publish Event="SpawnDialog" Value="CancelDlg">1</Publish>
        </Control>
        <Control Id="label1" Type="Text" Height="15" Width="51" X="15" Y="104" Text="Log file path:" />
        <Control Id="txtLogFilePath" Type="Edit" Height="15" Width="204" X="86" Y="104" Property="APPLOGDIR"/>
        <Control Id="btBrowseLogFilePath" Type="PushButton" Height="17" Width="56" X="297" Y="104" Text="Browse..." >
          <Publish Property="_BrowseProperty" Value="APPLOGDIR" Order="1">1</Publish>
          <Publish Event="SpawnDialog" Value="BrowseDlg" Order="2">1</Publish>
        </Control>
        <Control Id="Title" Type="Text" Height="15" Width="200" X="16" Y="7" Text="Configuration settings" />
        <Control Id="BannerBitmap" Type="Bitmap" Height="44" Width="370" X="0" Y="0" Text="!(loc.InstallDirDlgBannerBitmap)" />
        <Control Id="label3" Type="Text" Height="13" Width="348" X="16" Y="92" Text="Specify the path that the application will write its logs to" />
      </Dialog>
    </UI>
  </Fragment>
</Wix>