<?xml version="1.0"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>
		<UI>
			<Dialog Id="MailSettingsDialog" Width="370" Height="270" Title="Email Settings">
				<Control Id="Enable_email_alerts" Type="CheckBox" X="108" Y="136" Width="220" Height="14" Property="EMAIL_ENABLE" Text="Enable email alerts on run profile errors" CheckBoxValue="1" TabSkip="no" Hidden="no"></Control>
				<Control Type="Text" Id="lblMailServer" Width="69" Height="9" X="13" Y="52" Text="Mail server:" />
				<Control Id="MailServer" Type="Edit" X="108" Y="52" Width="220" Height="15" Property="MAIL_SERVER" />
				<Control Type="Text" Id="lblMailServerPort" Width="69" Height="9" X="13" Y="73" Text="Port:" />
				<Control Id="MailServerPort" Type="Edit" X="108" Y="73" Width="220" Height="15" Property="MAIL_SERVER_PORT" Text="\d{10}" />
				<Control Type="Text" Id="lblMailFrom" Width="69" Height="9" X="12" Y="93" Text="From Address:" />
				<Control Id="MailFrom" Type="Edit" X="108" Y="93" Width="220" Height="15" Property="MAIL_FROM" />
				<Control Type="Line" Id="line" Width="362" Height="2" X="4" Y="229" />
        <Control Id="label2" Type="Text" Height="34" Width="92" X="12" Y="112" Text="To Addresses (semi-colon separated)" />
        <Control Id="txtMailTo" Type="Edit" Height="15" Width="220" X="108" Y="117" Property="MAIL_TO" />
				<Control Id="Next" Type="PushButton" X="236" Y="243" Width="56" Height="17" Default="yes" Text="!(loc.WixUINext)" />
				<Control Id="Back" Type="PushButton" X="180" Y="243" Width="56" Height="17" Text="!(loc.WixUIBack)" />
				<Control Id="Cancel" Type="PushButton" X="304" Y="243" Width="56" Height="17" Cancel="yes" Text="!(loc.WixUICancel)">
					<Publish Event="SpawnDialog" Value="CancelDlg">1</Publish>
				</Control>
				<Control Id="label1" Type="Text" Height="25" Width="352" X="10" Y="193" Text="Additional mail settings such as authentication settings can be configured in the app.config file after installation" />
				<Control Id="Description" Type="Text" Height="15" Width="280" X="26" Y="24" Text="Specify the email settings" />
				<Control Id="Title" Type="Text" Height="15" Width="200" X="16" Y="7" Text="Email settings" />
				<Control Id="BannerBitmap" Type="Bitmap" Height="44" Width="370" X="0" Y="0" Text="!(loc.InstallDirDlgBannerBitmap)" />

			</Dialog>
		</UI>
	</Fragment>
</Wix>