<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="mailServer" value="smtp.monash.edu"/>
    <add key="mailFrom" value="d1@autosync.monash.edu"/>
    <add key="mailTo" value="ryan@monash.edu"/>
    <add key="mailIgnoreReturnCodes" value="completed-no-objects"/>
    <add key="executionStaggerInterval" value="5"/>
    <add key="runHistoryDaysToKeep" value="5"/>
    <add key="runHistoryExportPath" value="C:\temp"/>
    <add key="mailSendOncePerStateChange" value="false"/>
  </appSettings>
</configuration>