<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AngleSharp" version="0.9.5" targetFramework="net45" />
  <package id="Lithnet.Logging" version="1.0.5774.20685" targetFramework="net40" />
  <package id="Lithnet.Miiserver.Client" version="1.0.5980.21339" targetFramework="net45" />
  <package id="Lithnet.ResourceManagement.Client" version="1.0.5922.36551" targetFramework="net40" />
  <package id="PreMailer.Net" version="1.5.3" targetFramework="net45" />
</packages>