<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AngleSharp" version="0.9.5" targetFramework="net45" />
  <package id="Costura.Fody" version="1.6.2" targetFramework="net461" developmentDependency="true" />
  <package id="Fody" version="2.0.0" targetFramework="net461" developmentDependency="true" />
  <package id="Lithnet.Miiserver.Client" version="1.0.6461.17022" targetFramework="net461" />
  <package id="Lithnet.ResourceManagement.Client" version="1.0.6297.14599" targetFramework="net461" />
  <package id="NLog" version="4.4.12" targetFramework="net461" />
  <package id="PreMailer.Net" version="1.5.3" targetFramework="net45" />
</packages>