<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>

  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <!--
      <target name="autosync-ui-file"
              xsi:type="File"
              fileName="${specialfolder:folder=ApplicationData}/Lithnet/AutoSync/autosync-ui.log"
              concurrentWrites="true"
              layout="${longdate}|${level:uppercase=true:padding=5}|${message}${exception:format=ToString}"/>
      -->
      <target name="autosync-ui-eventlog"
              xsi:type="EventLog"
              source="AutoSync UI"
              category="AutoSync"
              layout="${message}${newline}${exception:format=ToString}"/>
    </targets>

    <rules>
      <logger minlevel="Warn" writeTo="autosync-ui-eventlog" name="*"/>
      <!--
        <logger minlevel="Trace" writeTo="autosync-ui-file" name="*"/>
      -->
    </rules>
  </nlog>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Windows.Interactivity" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
