<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Costura.Fody" version="1.6.2" targetFramework="net461" developmentDependency="true" />
  <package id="Fody" version="2.0.0" targetFramework="net461" developmentDependency="true" />
  <package id="Lithnet.Common.ObjectModel" version="1.0.6258.25160" targetFramework="net452" />
  <package id="Lithnet.Common.Presentation" version="1.0.6455.31935" targetFramework="net461" />
  <package id="Lithnet.Logging" version="1.0.5774.20685" targetFramework="net461" />
  <package id="Lithnet.Miiserver.Client" version="1.0.6461.17022" targetFramework="net461" />
  <package id="MahApps.Metro" version="1.5.0" targetFramework="net452" />
  <package id="PropertyChanged.Fody" version="1.53.0" targetFramework="net461" developmentDependency="true" />
  <package id="System.Windows.Interactivity.WPF" version="2.0.20525" targetFramework="net452" />
</packages>